.App {
  text-align: center;
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Strikethrough */

.strikethrough {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
  /* box-shadow: 0 1px rgba(0, 0, 0, 0.6); */
  background-color: red;
  margin-top: -0.6em;
  transform-origin: center left;
	animation: strikethrough 1s cubic-bezier(.55, 0, .1, 1) 1;
}

/* Keyframes for initial animation */

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

input {
  border-width: 0;
  background: none;
  color: gray;
  font-size: large;
  border-bottom: 2px;
}

input:focus {
  border-bottom: 2px;

  outline: 0;
  border-width: 0;
  background: none;
  caret-color: white;
}