.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Strikethrough */

.strikethrough {
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
  /* box-shadow: 0 1px rgba(0, 0, 0, 0.6); */
  background-color: red;
  margin-top: -0.6em;
  transform-origin: center left;
	animation: strikethrough 1s cubic-bezier(.55, 0, .1, 1) 1;
}

/* Keyframes for initial animation */

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
