/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); */

form {
    display: inline-block;
}

span, div {
    font-family: 'Architects Daughter', cursive;
}

input {
    /* font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif; */
    border-width: 0;
    background: none;
    color: rgba(79, 176, 174);
    font-size: calc(10px + 2vmin);
    padding-bottom: 5px;
    box-shadow: rgba(79, 176, 174, 0.3) 0px 1px;
    font-family: 'Architects Daughter', cursive;
}

::placeholder {
    color: rgba(79, 176, 174);
    opacity: .3;
    font-size: calc(10px + 2vmin);
}

input:focus {
    border-bottom: 2px;
    caret-color: rgba(79, 176, 174, 0.3);
    outline: 0;
    border-width: 0;
    background: none;
    box-shadow: rgba(79, 176, 174) 0px 2px;
}

button {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    background-color: rgba(79, 176, 174, .3);
    color: rgba(255,255,255,.3);
    border: none;
    margin: 5px;
    border-radius: .5em;
}

button:focus {
    border: none;
    outline: none;
    color: white;
    background-color: rgba(79, 176, 174);
}